.landing
  .landing-header
    %h1
      %i.glyphicon.glyphicon-calendar
      Event Diary

  .landing-body
    %p
      %i.glyphicon.glyphicon-ok
      Schedule events
    %p
      %i.glyphicon.glyphicon-ok
      Receive notifications
    %p
      %i.glyphicon.glyphicon-ok
      Share with friends
