default: &default
  adapter: postgresql
  pool: 5
  timeout: 5000
  encoding: utf8
  username: postgres

development:
  <<: *default
  database: evy_development

test:
  <<: *default
  database: evy_test

production:
  <<: *default
  database: evy