default: &default
  adapter: postgresql
  pool: 5
  timeout: 5000
  encoding: utf8
  username: <%= ENV['DATABASE_POSTGRESQL_USERNAME'] %>
  password: <%= ENV['DATABASE_POSTGRESQL_PASSWORD'] %>

development:
  <<: *default
  database: evy_development

test:
  <<: *default
  database: evy_test

production:
  <<: *default
  database: evy