@import "bootstrap-sprockets";
@import "bootstrap";

$grayLight: #eaeaea;

$color-primary-0: #F1CFAE;	/* Main Primary color */
$color-primary-1: #FFEBD9;
$color-primary-2: #FD222D;
$color-primary-3: #788477;
$color-primary-4: #788477;
$color-primary-5: #FD434C;

html, body {
  height:100%;
}

body {
   -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: 1200;
  padding-bottom: 0;
  margin: 0;
  /*background: image-url('school.png');*/
  background-color: #92B08F !important;
}

// Navbar
.navbar-brand {
  font-weight: bold;
}

.navbar.navbar-default {
  background-color: $color-primary-5;
  background-image: none;
  border-style: none;
}

.navbar-nav > li > a,
.navbar-header > a {
  color: $grayLight !important;
  &:hover {
    color: white !important;
  };
}

.navbar-default .navbar-nav > .open > a {
  background-color: $color-primary-2 !important;
}

.navbar-dropdown {
  padding-top: 8px;
}

.navbar-link {
  padding-right: 5px;
}

// Panels
.panel-heading {
  background-color: $color-primary-4 !important;
  color: $grayLight !important;
  font-size: 16px;
  font-weight: bold;
}

.panel.panel-default {
  border-style: none;
}

// Landing
.landing {
  color: white;
  background: image-url('splash_2.png');
  background-size: 100% auto;
  height: 480px;
  text-shadow: 0 0 4px $color-primary-4, 0 0 4px $color-primary-4, 0 0 4px $color-primary-4, 0 0 4px $color-primary-4, 0 0 4px $color-primary-4;

  h1 {
    font-size: 64px;
    font-weight: bold;
  }

  p {
    font-size: 24px;
    font-weight: bold;
    text-outline: 2px 2px $color-primary-4 !important;
  }
}

.landing-header {
  padding: 30px 30px 30px 30px;
}

.landing-body {
  padding-left: 112px;
}

// Calendar
.calendar-navigation {
  input[type='date'] {
    width: 160px;
    margin-right: 5px;
  }
  float: right;
}

#user_calendar {
  padding-top: 15px;
}

#public_calendar {
  padding-top: 49px;
}

.fc-event-container > a {
  background-color: $color-primary-3 !important;
  border-radius: 0px;
  border: 1px solid $color-primary-4;
}