@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-brand {
  font-weight: bold;
}

.navbar-right {
  padding-top: 8px;
}

html, body {
  height:100%;
}

body {
   -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: 1200;
  padding-bottom: 0;
  margin: 0;  
  background: image-url("swirl_pattern.png");
  background: image-url("swirl_pattern.png");
  background: image-url("swirl_pattern.png");
  background: image-url("swirl_pattern.png");
}
